:root {
  --editions-gray-bg:     #EFEFEF;
  --editions-gray-dark:   #BFBFBF;

  --padding: var(--size-4);
  --padding-lg: var(--size-7);

  --semi-shade: rgba(0, 0, 0, 0.1618);
  --shadow: 0 0.19em 0.69em 0 var(--semi-shade);

  --main-content-width: calc(100vw - var(--padding)*2);
  --main-content-max-width: 25rem;
}

/* DEFAULT LIGHT MODE */
:root,
::backdrop {
  --background: var(--white);
  --gray-z-0: var(--gray-999);
  --gray-z-1: var(--gray-900);
  --gray-z-2: var(--gray-800);
  --gray-z-3: var(--gray-700);
  --gray-z-4: var(--gray-600);
  --gray-z-5: var(--gray-500);
  --gray-z-6: var(--gray-400);
  --gray-z-7: var(--gray-300);
  --gray-z-8: var(--gray-200);
  --gray-z-9: var(--gray-100);
  --color: var(--black);
  --semi: var(--semi-light);
}
